In [1]:
import pandas as pd
import numpy as np

import datetime

In [2]:
# https://stackoverflow.com/questions/49193966/nltk-cont-tokenize-arabic-text-in-python
import nltk
from nltk.corpus import stopwords
sw = stopwords.words('arabic')

from nltk.tokenize import word_tokenize

In [6]:
df = pd.read_csv('student_experience_comments.csv', header=0)

In [7]:
df.head()

,student,lecture,school_code,course_code,course_name,OverallSatisfaction,comment
0,s23568201,LEC-A,BIOL,BIOL1207,Applied Biomolecular Sciences,4,answers relate mostly to biology 1a/1b
1,s23568202,LEC-A,BIOL,BIOL1207,Applied Biomolecular Sciences,4,"As there are a range of lecturers, each varies..."
2,s23568203,LEC-A,BIOL,BIOL1207,Applied Biomolecular Sciences,4,biology was crap
3,s23568204,LEC-A,BIOL,BIOL1207,Applied Biomolecular Sciences,5,"Biology 1a 1b were excellent, but the teacher ..."
4,s23568205,LEC-A,BIOL,BIOL1207,Applied Biomolecular Sciences,4,"Biology 1A and 1B, Psychology"

In [12]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, String, Date, Integer, Numeric

from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:xxxxx@127.0.0.1/dbo?charset=utf8', echo=False, encoding="utf8")

In [13]:
engine = create_engine('mysql+pymysql://root:xxxxxx@127.0.0.1/dbo', echo=False)

In [14]:
engine

Engine(mysql+pymysql://root:***@127.0.0.1/dbo)

In [15]:
from sqlalchemy import schema, types

metadata = schema.MetaData()

compliant_word = schema.Table('compliant_word', metadata,
    schema.Column('compliant_date', types.Date ),
    schema.Column('compliant_type', String(255), default=u''),
    schema.Column('word', String(255), default=u''),
    schema.Column('sr_number', String(255), default=u''),
                              
)
metadata.bind = engine

metadata.create_all(checkfirst=True)

C:\Users\humay\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)